a(name="top")
section#page-home(style='background-image: url(/img/book_bg.jpg);max-height:650px;background-size:cover;')
  div
    a(href="/#/")
      img(src="img/logo_white.png" style="width:200px;position:absolute;left:5%;top:5%;")
  .row(style="margin-top:5%;")
    .spot.inner_page-home

      h1(style="") "University level theory and
        br
        strong practical hardware projects
        br
        | in a format that's easy to remember."
      div.share(style="text-align:center;margin:2% 0 0 28%;")
        div.getsocial.gs-inline-group

section#boxes-home(style="background-color:#fff;")
  .large-12.columns.aside_boxes(style="padding:5% 10% 5% 10%;text-align:center;")
    h1 A full-color graphic novel textbook that teaches it all, from the beginning.
    
    br
    img(src='./img/booker3.jpg' width="95%" style="")

section#boxes-home(style="background-color:#fff;")
  .large-12.columns.aside_boxes(style="padding:0% 10% 5% 10%;text-align:center;")
    h1 Easy to digest content for learners to grasp the fundamentals of
      br
      | hardware, circuitry, sensors and their programming.
    
    br
    img(src='./img/comic_example.jpg' width="95%" style="")

section#main-content
  .large-12.columns.aside_boxes

    
section#main-content(style='background-color: #fff;')
  .large-12.columns.aside_boxes(style='background-color: #fff;text-align:center;')
    a(href="index.html#")
      img(src='./img/press_fake.jpg' width="70%" style="margin-left:0%;")
    img(src='./img/gpio.jpg' width="70%" style="margin-left:0%;")


section#boxes-home(style="background-color:#fff;")
  .large-12.columns.aside_boxes(style="padding:5% 10% 5% 10%;text-align:center;")
    h1 Execute projects in the book using the Gamifyed simulator
    
    br
    img(src='./img/gamifyed-simulator.jpg' width="95%" style="")
    a.large.button(href='https://gamifyed.com/account/register', style='margin-top:50px;background-color:#004aa7;color:#fff !important;') Preview our Apps