section#page-home(style='background-image: url(/img/bg_tesla.jpg);min-height:450px;background-size:cover;')
  div
    a(href="/#/")
      img(src="img/logo_white.png" style="width:200px;position:absolute;left:5%;top:5%;")
  .row(style="margin-top:5%;")
    .spot.inner_page-home

      h1(style="font-size:2.7em !important") "What an amazing way to learn
        br
        strong about electronics and programming. 
        br
        | There's nothing else like it."


//- section#strip(style="")
//-   h1 Gamifyed teaches STEM hardware and coding using graphic novels, simulator apps and real world hardware packs. Begin learning today at all levels.
//-   br
//-   br
//-   .row
//-     .large-4.columns
//-       br
//-       br
//-       img(src='./img/icon_book.png', style='')
//-     .large-4.columns
//-       br
//-       br
//-       img(src='./img/icon_toys.png', style='')
//-     .large-4.columns
//-       br
//-       br
//-       img(src='./img/icon_media.png', style='')
//-   br
//-   br 
//-   img(src='./img/credits.jpg' style="width:70%;margin-top:20px;")

section#boxes-home(style='background-color: #fff;')
  .medium-6.columns
    p work in progress
  .medium-6.columns
    p don't judge me