section#page-home(style='background-image: url(/img/bg_tesla.jpg);max-height:650px;background-size:cover;')
  div
    a(href="/#/")
      img(src="img/logo_white.png" style="width:200px;position:absolute;left:5%;top:5%;")
  .row(style="margin-top:5%;")
    .spot.inner_page-home

      h1(style="") "What an amazing way to learn
        br
        strong about electronics and programming. 
        br
        | There's nothing else like it."
      div.share(style="text-align:center;margin:2% 0 0 28%;")
        div.getsocial.gs-inline-group


//- section#strip(style="")
//-   h1 Gamifyed teaches STEM hardware and coding using graphic novels, simulator apps and real world hardware packs. Begin learning today at all levels.
//-   br
//-   br
//-   .row
//-     .large-4.columns
//-       br
//-       br
//-       img(src='./img/icon_book.png', style='')
//-     .large-4.columns
//-       br
//-       br
//-       img(src='./img/icon_toys.png', style='')
//-     .large-4.columns
//-       br
//-       br
//-       img(src='./img/icon_media.png', style='')
//-   br
//-   br 
//-   img(src='./img/credits.jpg' style="width:70%;margin-top:20px;")
section#boxes-home(style='background-color: #fff;')
  .large-6.columns.aside_boxes(style='background-color: #fff;')
    br
    br
    div(style='padding:10% 0% 0% 20%;')  
      h1 Meet Gou Sokyeo, master taoist brogrammer &amp; STEM hardware hacker.
      br
      p Think you got what it takes to be a prodigy STEM hacker? Keep up with Gou Sokyeo and his friends and see if you have what it takes to conquer the exciting field of technology. Follow along and be light years ahead of your friends. And remember, Gou's here to help anyone who want's to learn.
      br
      .row
        .small-12.columns
          a(href='#')
            p(style='padding-top:3px;margin-left:-15px;') Learn more about Gou Sokyeo soon!
      br
      br
        
  .large-6.columns.supporticons(style='background-color: #fff;')

    br

    img(src='./img/gou_pencil.jpg' width="95%" style="margin-left:-10%;")
section#boxes-home(style='background-color: #fff;')

  .large-1.columns
    &nbsp;
  .large-5.columns(style='background-color: none;')
    img(src='./img/non.jpg' width="90%" style='position:relative;z-index:1;margin-top:10%;margin-left:5%;')
  .large-6.columns.aside_boxes(style='background-color: #fff;margin-left:-50px;')
    div(style='padding:5% 10% 0% 20%;')  
      h1 Meet Non, Gou’s younger brother: a python newb and soccer geek.
      br
      p Work in progress. Soccer buff and python lover, he’s a real freak on the field. Soccer buff and python lover, he’s a real freak on the field. Meet the man, the myth, the legend. Meet Gou Sokyeo, the boy who learned to hack when he was 7 and became one of the greatest young hackers in the world. He’s become the greatest ever wow. Read More.
      br
      p Meet the man, the myth, the legend. Meet Gou Sokyeo, the boy who learned to hack when he was 7 and became one of the greatest young hackers in the world. He’s become the greatest ever wow. Read More.
      br
      .row
        .small-12.columns
          a(href='#')
            p(style='padding-top:5px;margin-left:-15px;') Learn more about Nōn Sokyeo soon!
  .large-1.columns
    &nbsp;