a(name="top")
section#page-home(style='background-image: url(/img/makers.jpg);max-height:650px;background-size:cover;')
  div
    a(href="/#/")
      img(src="img/logo_white.png" style="width:200px;position:absolute;left:5%;top:5%;")
  .row(style="margin-top:8%;")
    .spot.inner_page-home

      h1(style="") Classroom tech from
        br
        strong Intel, Arduino and Raspberry PI
      a.large.button(href='https://gamifyed.com/account/register', style='margin-top:50px;background-color:#f5f5f5;') Register for Beta

section#boxes-home(style="background-color:#fff;")
  .large-12.columns.aside_boxes(style="padding:5% 10% 5% 10%;text-align:center;")
    h1 Classroom projects globally recognized
      br
      | by Intel and Arduino, inspired by the inventor of the Arduino himself.
    
    br
    img(src='./img/intel.png' width="95%" style="")

section#main-content
  .large-12.columns.aside_boxes


section#main-content(style="background-color:#fff;")
  .large-12.columns.aside_boxes(style="padding:2% 10% 5% 10%;text-align:center;")
    h1 “A pragmatic platform to learn, practice and level-up 
      br
      | in hardware &amp; IoT has finally arrived.”
section#main-content
  .large-12.columns.aside_boxes

    
section#main-content(style='background-color: #fff;margin-left:-10%;')
  .medium-2.columns
    &nbsp;
  .medium-3.columns.product_boxes
    div
      img(src="./img/gamifyed-book.jpg")
      em 
        strong The Node Chronicles Volume 1
      br
      br
      p Get your copy of the 180 page adventure map that powers the entire platform.
      br
      p Ships May & June
      a.medium.button(href='https://www.kickstarter.com/projects/1826823485/the-boy-and-the-computer', style='margin-top:30px;width:100%;background-color:#000;color:#fff !important;') 
        span(style="color:#fff !important;") Kickstarter
  .medium-3.columns.product_boxes
    div
      img(src="./img/gamifyed_expansion_packs.jpg")
      em 
        strong Get the First Expansion Pack
      br
      br
      p Get the very first chapter and and expansion pack. Order while in-stock.
      br
      p Ships April
      a.medium.button(href='https://gamifyed.com/collections/new-home/products/raspberry-pi-expansion-pack-with-chapter-1-exclusive', style='margin-top:30px;width:100%;background-color:#0077f3;color:#fff !important;') 
        span(style="color:#fff !important;") Order Online
  .medium-3.columns.product_boxes
    div
      img(src="./img/gamifyed_raspberrypi_zero.jpg")
      em 
        strong Gamifyed’s Hobby Shop
      br
      br
      p Looking for great deals on spare parts? We have over 2,500 parts to choose from.
      br
      p Shipping Now
      a.medium.button(href='http://adafruit.com', style='margin-top:30px;width:100%;background-color:#0077f3;color:#fff !important;') 
        span(style="color:#fff !important;") Visit Store
  .medium-1.columns
    &nbsp;


section#main-content(style='background-color: #fff;margin-left:-10%;')
  .medium-2.columns
    &nbsp;
  .medium-3.columns.product_boxes
    div
      img(src="./img/gamifyed-bundle.jpg")
      em 
        strong Parent &amp; Teacher Bundles
      br
      br
      p Not sure what to buy? Bundles give you everything you need in one shipment.
      br
      p Ships this Fall
      a.medium.button(href='index.html#/teachers', style='margin-top:30px;width:100%;background-color:#0077f3;color:#fff !important;') 
        span(style="color:#fff !important;") View Options
  .medium-3.columns.product_boxes
    div
      img(src="./img/gamifyed_swag.jpg")
      em 
        strong Accessories &amp; Hacker Gear
      br
      br
      p Get gear and help support the cause. Let's make it happen!
      br
      p Ships this Summer
      a.medium.button(href='/#/', style='margin-top:30px;width:100%;background-color:#0077f3;color:#fff !important;') 
        span(style="color:#fff !important;") Buy Now
  .medium-3.columns.product_boxes
    div
      img(src="./img/gamifyed-node.jpg")
      em 
        strong Meet the Node
      br
      br
      p Wondering what this is? We’ll let you in on a little secret. It’s an MIT inspired workstation.
      br
      p Ships 2017, Developer Preview
      a.medium.button(href='https://www.kickstarter.com/projects/1826823485/1160627004?token=8fd79106', style='margin-top:30px;width:100%;background-color:#000;color:#fff !important;') 
        span(style="color:#fff !important;") Pre-Order
  .medium-1.columns
    &nbsp;

section#main-content
  .large-12.columns.aside_boxes


section#boxes-home(style="background-color:#fff;")
  .large-12.columns.aside_boxes(style="padding:5% 10% 5% 10%;text-align:center;")
    h1 Execute projects in the book using the Gamifyed simulator
    br
    br
    img(src='./img/ed2.jpg' width="95%" style="")
    img(src='./img/ed1.jpg' width="95%" style="")