.menu-wrap
  nav.menu
    .icon-list
      a(href='http://gamifyed.com')
        i.fa.fa-fw.fa-shopping-cart
        span Get the Book
      a(href='/sandbox/chapters/')
        i.fa.fa-fw.fa-bell-o
        span Individual Chapters
      a(href='#')
        i.fa.fa-fw.fa-newspaper-o
        span Curriculum R&amp;D
      a(href='https://www.kickstarter.com/projects/1826823485/the-boy-and-the-computer')
        i.fa.fa-fw.fa-hand-o-right
        span Kickstarter
      a(href='http://twitter.com/gamifyed_')
        i.fa.fa-fw.fa-twitter
        span Twitter
      a(href='http://twitter.com/gamifyed_')
        i.fa.fa-fw.fa-youtube-play
        span Youtube
      a(href='#')
        i.fa.fa-fw.fa-paper-plane
        span Login
      
  button#close-button.close-button
button#open-button.menu-button
audio(autoplay='true' src='/img/sweet_dreams4.mp3')
#fullpage
  #section0.section
    video#myVideo(autoplay='', loop='', muted='')
      source(src='/img/hud_shorter.mp4', type='video/mp4')
      source(src='/img/flowers.webm', type='video/webm')
    .layer(style='margin-top:0px;')
      img(src='img/logo.png', alt='Cool')
      br
      img(src='img/down.gif', alt='Cool', style='position:absolute;top:280px;width:50px;margin-left:-30px;text-align:center;')
  #section1.section(style="")
    .in_panel
      
  #section2.section
    video#myVideo(autoplay='', loop='', muted='')
      source(src='/img/hud.mp4', type='video/mp4')
      source(src='/img/flowers.webm', type='video/webm')
    .layer(style='margin-top:0px;')
      img(src='img/logo.png', alt='Cool')
      br
      img(src='img/down.gif', alt='Cool', style='position:absolute;top:280px;width:50px;margin-left:-40px;text-align:center;')
  