audio(autoplay='true' src='/img/.mp3')
#fullpage
  #section0.section
    video#myVideo(autoplay='', loop='', muted='')
      source(src='/img/hud_shorter.mp4', type='video/mp4')
      source(src='/img/flowers.webm', type='video/webm')
    .layer(style='margin-top:0%;')
      img(src='img/logo.png', alt='Cool')
      br
      div(style="position:absolute;top:80%;width:100%;text-align:auto;")
        img(src='img/down.gif', alt='Cool', style='width:100px;position:relative;margin-top:20%;')
  #section1.section(style="")
    .layer(style='position:absolute;top:25px;left:4%')
      img(src='img/logo_white.png', alt='Cool', style='width:70%;')
    .layer(style='position:absolute;top:-24px;right:10%')
      a.medium.button(href='index.html#/contact', style='margin-top:50px;background-color:#fff;') Learn More
      a.medium.button(href='index.html#/contact', style='margin-top:50px;background-color:#c30000;margin-left:20px;color:#fff;') Join Now
    .in_panel(style='text-align: center')
      iframe(width='100%', height='100%', src='https://www.youtube.com/embed/k6zebotwPzQ?modestbranding=1&autohide=1&showinfo=0&controls=0', frameborder='0', allowfullscreen='true')
  #section2.section
    .layer(style='text-align: left;margin-left:10%;')
      h1()
        a(href='/#/landing' target="_blank" style="color: #fff") I am a Student
        br
        a(href='/#/landing' target="_blank" style="color: #fff") I am a Teacher
        br
        a(href='http://localhost:3000/#/landing' target="_blank" style="color: #fff") I am a Parent
        