section#page-home(style='background-image: url(/img/background_home.jpg);max-height:700px;')
  div
    a(href="/#/")
      img(src="img/logo_white.png" style="width:200px;position:absolute;left:5%;top:5%;")
  .row(style="margin-top:5%;")
    .spot.inner_page-home

      h1 A framework for learning
        br
        strong STEM hardware and programming 
        | for ambitious students.


      a.large.button(href='https://gamifyed.com/account/register', style='margin-top:50px;background-color:#f5f5f5;') Create a FREE Account
      a.large.button(href='https://www.kickstarter.com/projects/1826823485/the-boy-and-the-computer', style='margin-top:50px;margin-left:3%;background-color:#f5f5f5;') Get the Tools on Kickstarter
      br
      div.share(style="text-align:center;margin:2% 0 0 30%;")
        div.getsocial.gs-inline-group

//- section#strip(style="")
//-   h1 Gamifyed teaches STEM hardware and coding using graphic novels, simulator apps and real world hardware packs. Begin learning today at all levels.
//-   br
//-   br
//-   .row
//-     .large-4.columns
//-       br
//-       br
//-       img(src='./img/icon_book.png', style='')
//-     .large-4.columns
//-       br
//-       br
//-       img(src='./img/icon_toys.png', style='')
//-     .large-4.columns
//-       br
//-       br
//-       img(src='./img/icon_media.png', style='')
//-   br
//-   br 
//-   img(src='./img/credits.jpg' style="width:70%;margin-top:20px;")

section#boxes-home(style='background-color: #f5f5f5;')
  .medium-6.columns(style='background-color: #f5f5f5;')
    br
    br  
    a(href='/#/landing')
      img(src='./img/book.png', style='position:relative;right:-40px;z-index:9999;')
  .medium-6.columns.aside_boxes(style='background-color: #f5f5f5;padding:5% 10% 5% 5%;margin-left:-50px')
    br
    br
    br
    br
    h1(style='font-size:2em;') TNC is the hackers guide to the universe. Learn from it while being blissfully entertained. 
      a(href="https://gamifyed.com/collections/new-home/products/product-id-518") 
        i Start with the book.
    br
    p Each chapter unlocks valuable information with the help of best practice gamification. Level-up your global status with Gamifyed's companion apps and simulators to constantly tracks your progress. Be continously challenged with exciting activities, coding exercises and even physical expansion packs to build your own gadgets from the gorund up. Share your rank, status, projects and progress with friends, family and teachers.
    br
    p This book has been written from the ground up to inspire young students while challenging pre-collegiate STEM students. It's the first attempt at putting hardware in a curriculum for ambitious young hackers. 
    br
    .row
      .small-2.columns(style='text-align:right;margin-left:-19px;')
        img(src='./img/play.png' style='width:40px;')
      .small-10.columns
        a(href='/index.html#/cast')
          p(style='padding-top:8px;margin-left:-25px;') Take a tour inside the book
    br
    br

    a(href="https://www.kickstarter.com/projects/1826823485/the-boy-and-the-computer")
      img(src='./img/button_kick.png')
section#main-content(style='background-color: #f5f5f5;')
  .row
    .large-12.columns.centered-text
      br

section#boxes-home(style='background-color: #fff;')
  .large-6.columns.aside_boxes(style='background-color: #fff;')
    br
    br
    div(style='padding:10% 0% 0% 20%;')  
      h1(style='letter-spacing: 0px !important') Get hardware packs &amp; build real scientific gadgets like drones, sportbits, robots and cellular devices!
        a(href="https://gamifyed.com/collections/new-home/products/raspberry-pi-expansion-pack-with-chapter-1-exclusive") 
          i Buy online now.
      br
      p Stop sifting through hopeless blogs and learn about the newest chips, sensors, hardware and open source projects with Gamifyed's curated scientific projects. Get project packs for products such as the Raspberry PI Zero, Arduino, Particle.io Board, Bluetooth, Accellerometers and so on. 
      br
      .row
        .small-5.columns(style='margin-left:-15px;')
          a.medium.button(href='https://gamifyed.com/account/register', style='background-color:#d30146;color:#fff;font-weight:bold;') Order Online
        .small-5.columns(style='')
          a(href="/#/" style="position:absolute;left:-100px;margin-top:17px;") Learn More
          

      
        
  .large-6.columns.supporticons(style='background-color: #fff;')
    img(src='./img/epacks.jpg' width="90%")

section#main-content(style='background-color: #fff;')
  .row
    br


section#boxes-home(style='background-color: #fff;padding:0 0 0 5%;')

  .large-6.columns(style='background-color: none;')
    img(src='./img/node-chronicles-gou.png' style='position:relative;z-index:1;margin-top:0px;')

  .large-4.columns.aside_boxes(style='background-color: #fff;')
    div(style='padding:0% 0% 0% 0%;')  
      h1 Study what's relevant straight from the horses mouth. Learn from the inspiring creators of todays technology stack.
      br
      .row
        .small-12.columns
          a(href='/sandbox/chapters/' target='_blank')
            p(style='padding-top:7px;margin-left:-15px;') Meet the inspiring cast
      br
      a(href='/sandbox/chapters/' target='_blank')
        img(src='./img/faces.png' width="100%" style='margin-left:-3%')
      br
  .large-2.columns


section#main-content(style='background-color: #fff;')
  .row
    br


section#main-content(style='background-color: #d30045;margin:0px auto;margin-top:-44px;position:relative;z-index:2;background-image:url("./img/node-bg.png");background-size:cover;background-position:-20%;')
  .row
    .large-6.columns(style='margin-top:15%;')
      h2(style='font-size:2em;color:#fff !important;text-align:left;margin-left:2%;') “A healthy way to spend free-time that has boys &amp; girls learning university level ECE.”
      img(src='./img/appstores.png' width="100%" style="")
    .large-6.columns(style='text-align:left;margin-left:0%;')
      img(src='./img/phones-bg.png' width="100%" style="margin-top:-25%;margin-left:10%;")
    
  .row
    .large-12.columns
      p
      br
  .row
    .large-12.columns
      img(src='./img/press-bg.png' width="100%" style="margin-left:-5%")
