.menu-wrap
  nav.menu
    .icon-list
      p(style="font-size:20px;color:#c5c5c5;font-weight:bold;") Menu
      br
      a(href='/#/')
        i.fa.fa-fw.fa-home
        span Home
      a(href='index.html#/landing')
        i.fa.fa-fw.fa-question
        span What is Gamifyed
      a(href='http://gamifyed.com')
        i.fa.fa-fw.fa-shopping-cart
        span All Products 
      a(href='/sandbox/chapters/')
        i.fa.fa-fw.fa-star
        span Influencers
      a(href='https://frangucc.gitbooks.io/gamifyed/content/' target='_blank')
        i.fa.fa-fw.fa-newspaper-o
        span Open Research
      a(href='/#/cast')
        i.fa.fa-fw.fa-bell-o
        span Educators
      a(href='/#/cast')
        i.fa.fa-fw.fa-hand-o-right
        span Parents
      a(href='https://www.kickstarter.com/projects/1826823485/the-boy-and-the-computer' target='_blank')
        i.fa.fa-fw.fa-hand-o-right
        span Kickstarter
      a(href='http://twitter.com/gamifyed_' target='_blank')
        i.fa.fa-fw.fa-twitter
        span Twitter
      a(href='https://gamifyed.com/account/login')
        i.fa.fa-fw.fa-lock
        span Login
      a.medium.button(href='https://gamifyed.com/account/register', style='width:100%;position:absolute;bottom:20px;background-color:#f5f5f5;color:#005bba;font-weight:bold;') Create a FREE Account
  button#close-button.close-button
button#open-button.menu-button
ng-include(src="'nav.html'")
ui-view
