a(name="top")
section#page-home(style='background-image: url(/img/background_home.jpg);max-height:700px;')
  #section0.section
    video#myVideo(autoplay='', loop='', muted='')
      source(src='/img/hud4.mp4', type='video/mp4')
      source(src='/img/hud2.webm', type='video/webm')
    .layer(style='margin-top:0%;')
      img(src='img/logo.png', alt='Cool')
      br

section#boxes-home(style='background-color: #f5f5f5;')
  .medium-6.columns(style='background-color: #f5f5f5;')
    br
    br  
    a(href='/#/landing')
      img(src='./img/book3.gif', style='position:relative;right:-40px;')
  .medium-6.columns.aside_boxes(style='background-color: #f5f5f5;padding:5% 10% 5% 5%;margin-left:-50px')
    br
    br
    h1(style='font-size:2em;') TNC is the hackers guide to the universe. Learn from it while being blissfully entertained. 
      a(href="https://gamifyed.com/collections/new-home/products/product-id-518") 
        i Start with the book.
    br
    p Each chapter unlocks valuable information with the help of best practice gamification. Level-up your global status with Gamifyed's companion apps and simulators to constantly tracks your progress. Be continously challenged with exciting activities, coding exercises and even physical expansion packs to build your own gadgets from the gorund up. Share your rank, status, projects and progress with friends, family and teachers.
    br
    p This book has been written from the ground up to inspire young students while challenging pre-collegiate STEM students. It's the first attempt at putting hardware in a curriculum for ambitious young hackers. Order the hardcover textbook or download it digitally.
    br
    .row
      .small-2.columns(style='text-align:right;margin-left:-19px;')
        img(src='./img/play.png' style='width:40px;')
      .small-10.columns
        a(href='/index.html#/book#top')
          p(style='padding-top:8px;margin-left:-25px;') Take a tour inside the book
    br
    br

    a(href="https://www.kickstarter.com/projects/1826823485/the-boy-and-the-computer")
      img(src='./img/button_kick.png')
section#main-content(style='background-color: #f5f5f5;')
  .row
    .large-12.columns.centered-text
      br

section#boxes-home(style='background-color: #fff;')
  .large-6.columns.aside_boxes(style='background-color: #fff;')
    br
    br
    div(style='padding:10% 0% 0% 20%;')  
      h1(style='letter-spacing: 0px !important') Get hardware packs &amp; build real scientific gadgets like drones, sportbits, robots and cellular devices!
        a(href="https://gamifyed.com/collections/new-home/products/raspberry-pi-expansion-pack-with-chapter-1-exclusive") 
          i Buy online now.
      br
      p Stop sifting through random blogs and get a full curriculum for learning and expiramenting with the newest chips, sensors, hardware and open source projects. Gamifyed's curated scientific projects feature parts like the the Raspberry PI Zero, Arduino, Particle.io Board, Bluetooth, Accellerometers and dozens more. Buy individually or in bundles.
      br
      br
      .row
        .small-5.columns(style='margin-left:-15px;')
          a.medium.button(href='https://gamifyed.com/account/register', style='background-color:#d30146;color:#fff;font-weight:bold;') Order Online
        .small-5.columns(style='')
          a(href="index.html#/expansionpacks#top" style="position:absolute;left:-100px;margin-top:17px;") Learn More
          

      
        
  .large-6.columns.supporticons(style='background-color: #fff;')
    a(href='index.html#/expansionpacks')
      img(src='./img/gamifyed_expansion_packs.gif' width="90%")

section#main-content(style='background-color: #fff;')
  .row
    br


section#boxes-home(style='background-color: #fff;padding:0 0 0 5%;')

  .large-6.columns(style='background-color: none;')
    img(src='./img/node-chronicles-gou.png' style='position:relative;z-index:1;margin-top:0px;')

  .large-5.columns.aside_boxes(style='background-color: #fff;')
    div(style='padding:0% 10% 0% 0%;')  
      h1 Study what's relevant straight from the horses mouth. Learn directly from the likeness of real world innovators.
        a(href="https://gamifyed.com/collections/new-home/products/product-id-518") 
          i Order the graphic novel now &#10140;
      br
      .row
        .small-12.columns
          a(href='/sandbox/chapters/' target='_blank')
            p(style='padding-top:7px;margin-left:-15px;') Meet the inspiring cast
      br
      a(href='/sandbox/chapters/' target='_blank')
        img(src='./img/faces.png' width="100%" style='margin-left:-3%')
      br
  .large-1.columns


section#main-content(style='background-color: #fff;')
  .row
    br

section#main-content(style='background-color: #d30045;margin:0px auto;margin-top:-44px;position:relative;z-index:2;background-image:url("./img/node-bg.png");background-size:cover;background-position:10%;')
  .row
    .large-6.columns(style='margin-top:25%;')
      h2(style='font-size:2em;color:#fff !important;text-align:left;margin-left:2%;') “A healthy way to spend free-time that has boys &amp; girls learning university level ECE.”
      img(src='./img/appstores.png' width="100%" style="")
    .large-6.columns(style='text-align:left;margin-left:0%;')
      img(src='./img/phones-bg.png' width="100%" style="margin-top:10%;margin-left:10%;")
    
  .row
    .large-12.columns
      p
      br
  .row
    .large-12.columns
