section#main-content(style='background-color: #fff;margin-left:-10%;')
  .medium-2.columns
    &nbsp;
  .medium-3.columns.product_boxes
    div
      img(src="./img/gamifyed-book.jpg")
      em 
        strong The Node Chronicles Volume 1
      br
      br
      p Get your copy of the 180 page adventure map that powers the entire platform.
      br
      p Ships May & June
      a.medium.button(href='https://www.kickstarter.com/projects/1826823485/the-boy-and-the-computer', style='margin-top:30px;width:100%;background-color:#000;color:#fff !important;') 
        span(style="color:#fff !important;") Kickstarter
  .medium-3.columns.product_boxes
    div
      img(src="./img/gamifyed_expansion_packs.jpg")
      em 
        strong Get the First Expansion Pack
      br
      br
      p Get the very first chapter and and expansion pack. Order while in-stock.
      br
      p Ships April
      a.medium.button(href='https://gamifyed.com/collections/new-home/products/raspberry-pi-expansion-pack-with-chapter-1-exclusive', style='margin-top:30px;width:100%;background-color:#0077f3;color:#fff !important;') 
        span(style="color:#fff !important;") Order Online
  .medium-3.columns.product_boxes
    div
      img(src="./img/gamifyed_raspberrypi_zero.jpg")
      em 
        strong Gamifyed’s Hobby Shop
      br
      br
      p Looking for great deals on spare parts? We have over 2,500 parts to choose from.
      br
      p Shipping Now
      a.medium.button(href='http://adafruit.com', style='margin-top:30px;width:100%;background-color:#0077f3;color:#fff !important;') 
        span(style="color:#fff !important;") Visit Store
  .medium-1.columns
    &nbsp;
section#main-content
  .row
    .large-12.columns
      p &nbsp;

section#main-content(style='background-color: #fff;margin-left:-10%;')
  .medium-2.columns
    &nbsp;
  .medium-3.columns.product_boxes
    div
      img(src="./img/gamifyed-bundle.jpg")
      em 
        strong Parent &amp; Teacher Bundles
      br
      br
      p Not sure what to buy? Bundles give you everything you need in one shipment.
      br
      p Ships this Fall
      a.medium.button(href='index.html#/teachers', style='margin-top:30px;width:100%;background-color:#0077f3;color:#fff !important;') 
        span(style="color:#fff !important;") View Options
  .medium-3.columns.product_boxes
    div
      img(src="./img/gamifyed_swag.jpg")
      em 
        strong Accessories &amp; Hacker Gear
      br
      br
      p Get gear and help support the cause. Let's make it happen!
      br
      p Ships this Summer
      a.medium.button(href='/#/', style='margin-top:30px;width:100%;background-color:#0077f3;color:#fff !important;') 
        span(style="color:#fff !important;") Buy Now
  .medium-3.columns.product_boxes
    div
      img(src="./img/gamifyed-node.jpg")
      em 
        strong Meet the Node
      br
      br
      p Wondering what this is? We’ll let you in on a little secret. It’s an MIT inspired workstation.
      br
      p Ships 2017, Developer Preview
      a.medium.button(href='https://www.kickstarter.com/projects/1826823485/1160627004?token=8fd79106', style='margin-top:30px;width:100%;background-color:#000;color:#fff !important;') 
        span(style="color:#fff !important;") Pre-Order
  .medium-1.columns
    &nbsp;

section#main-content
  .row
    .large-12.columns
      p &nbsp;