doctype html
html
  head
    title Franchino

    meta(charset='utf-8')
    meta(name='description', content='Gamifyed Home Device Check')
    meta(name='author', content='Gamifyed, Inc.')
    meta(name='copyright', content='GAMIFYED, Inc. Copyright (c) 2016')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')

    link(rel='stylesheet' href='/css/frameplayer.css')
    script(src='/js/device.min.js')
    script.
      if(device.desktop() === true) {
        // if a laptop or desktop, go to the angular desktop home views
        window.location.replace("/#/");
      }
      else {
        //if a mobile device, go to the mobile intro page
          window.location.replace("/mobile-intro.html");
        };


  body
