ion-view.homepage-hero
  ng-include(src="'actionsheet.html'")
  ion-content(padding='true', scroll='true')
    ion-slide-box
      ion-slide
        div.mobile-heros(style='padding-top:20px;')
          h1 Our mobile website is under construction!
          h3 It's best to visit us on your computer right now and check back in the next 24-48 hours
            br
            br
            img(src='./img/frank.png', style='margin-top: 0%;')
          h3 Visit gamifyed.com on your laptop or desktop
            br
            | Learn more about our entire company there
            br
            br
            | Get ahold of me if you need to.
            
      ion-slide
        div.mobile-heros(style='padding:10px 20px 0 20px;')
          h1 Go to gamifyed.com on your PC or Mac
          h3 or check back in 24-48 hours
            br
            br

