ion-view(title='').homepage-hero
  ng-include(src="'actionsheet.html'")
  ion-content(padding='true', scroll='true')
    ion-slide-box
      ion-slide
        div.mobile-heros(style='')
          p slide 1
      ion-slide
        div.mobile-heros(style='')
          p slide 2

