/* TODO: Get rid of this duplicate menu code once you merge the sandbox project into the angular project */

html, 
body, 
.container, 
.content-wrap {
	overflow: scroll;
	width: 100%;
	height: 100%;
}

.container {

}

.menu-wrap a {
	color: #b8b7ad;
}

.menu-wrap a:hover,
.menu-wrap a:focus {
	color: #fff;
}

.content-wrap {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.content {
	position: relative;
	background: #b4bad2;
}

.content::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.9);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	-webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
	transition: opacity 0.4s, transform 0s 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

/* Menu Button */
.menu-button {
	position: fixed;
	right:0;
	z-index: 1000;
	margin: 1em;
	padding: 0;
	width: 2.5em;
	height: 2.25em;
	border: none;
	text-indent: 2.5em;
	font-size: 1.1em;
	color: #ffffff !important;
	background: transparent !important;
}

.menu-button::before {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	background: linear-gradient(#bebebe 20%, transparent 20%, transparent 40%, #bebebe 40%, #bebebe 60%, transparent 60%, transparent 80%, #bebebe 80%);
	content: '';
}

.menu-button:hover {
	opacity: 0.9;
}

/* Close Button */
.close-button {
	width: .4em;
	height: .4em;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 1em;
	font-size: 0.45em;
	border: none;
	background-color: #fff !important;
	color: transparent;
	z-index: 99999;
	margin-top:-20px;
}

.close-button::before,
.close-button::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 50%;
	top: 10px;
	left: 60%;
	background: #bdc3c7;
}

.close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* Menu */
.menu-wrap {
	position: absolute;
	z-index: 1001;
	width: 300px;
	height: 100%;
	background: url(../../../img/menu_bg.jpg) #1c1c1c;
	background-size:cover;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
	-webkit-transform: translate3d(-320px,0,0);
	transform: translate3d(-320px,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu, 
.icon-list {
	height: 100%;
}

.icon-list {
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.icon-list a {
	display: block;
	padding: 0.8em;
	-webkit-transform: translate3d(0,500px,0);
	transform: translate3d(0,500px,0);
}

.icon-list,
.icon-list a {
	-webkit-transition: -webkit-transform 0s 0.4s;
	transition: transform 0s 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.icon-list a:nth-child(2) {
	-webkit-transform: translate3d(0,1000px,0);
	transform: translate3d(0,1000px,0);
}

.icon-list a:nth-child(3) {
	-webkit-transform: translate3d(0,1500px,0);
	transform: translate3d(0,1500px,0);
}

.icon-list a:nth-child(4) {
	-webkit-transform: translate3d(0,2000px,0);
	transform: translate3d(0,2000px,0);
}

.icon-list a:nth-child(5) {
	-webkit-transform: translate3d(0,2500px,0);
	transform: translate3d(0,2500px,0);
}

.icon-list a:nth-child(6) {
	-webkit-transform: translate3d(0,3000px,0);
	transform: translate3d(0,3000px,0);
}

.icon-list a span {
	margin-left: 10px;
	font-weight: 700;
}

/* Shown menu */
.show-menu .menu-wrap {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .icon-list,
.show-menu .icon-list a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .icon-list a {
	-webkit-transition-duration: 0.9s;
	transition-duration: 0.9s;
}

.show-menu .content::before {
	opacity: 1;
	-webkit-transition: opacity 0.8s;
	transition: opacity 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/* TODO: More sick shit loaded form the last known generated component */
#box{position:absolute;height:200px;width:100%;background:red;text-align:center;color:#fff;z-index:-1}#contentm{background:red;height:100%;width:100%;margin-top:0}.in_panel{width:80%;height:75%;top:-10px;left:0;overflow:scroll;margin:10%;position:absolute}.spot h1{color:#fff!important;font-weight:300!important}.spot h3{text-align:right!important;color:#fff!important;margin-right:8%}nav .small a{background-color:#002f47;color:#fff;padding:13px;position:relative;top:-20px}.top-bar{margin-top:-20px}.footer_area .row,.footer_area section{background-color:#efefef!important}.footer_area .press_strip img{width:20%}.bio-text p{padding:20px 0 0}.tap-footer-bottom{background-color:#000}.top-bar{background-color:#efefef!important}.top-bar-section a{background-color:#efefef!important;color:#202b39!important;font-family:Roboto,sans-serif!important;font-size:15px!important}.top-bar-section .has-dropdown a:after{display:none;width:0;height:0;border:1px inset!important;margin-top:0!important;padding-right:-10px;position:absolute;top:50%}.has-form{background-color:#efefef!important}.roboto{font-family:Roboto,sans-serif!important;font-size:18px!important}.dark{background-color:#474e5d!important;color:#fff!important}.bios{padding-top:50px}.bios .row{padding:0 0 80px}.button.large{width:350px;margin-top:20px;background:#fff;border:0 solid #000;color:#202b39!important}.button.large:hover{width:350px;margin-top:20px;background-color:#d2db31}a.button,a.button:hover{background-color:#d2db31;color:#256d84}.extend_1{width:100%;position:relative;right:0;bottom:0;top:0;left:0}.extend_2{width:100%;position:absolute;right:0;bottom:0}#manager-hero{background:url(../img/user-laptop.jpg) 0 -70px/cover no-repeat #074e68;height:340px;margin-left:-30px;position:relative;padding:0 20px}#manager-hero h1{font-size:4em;color:#fff;margin-top:-12%;font-weight:700;margin-bottom:0;line-height:100%;text-align:center;letter-spacing:-3px;font-family:Raleway,sans-serif!important;text-shadow:0 1px #000}.foot-cta{background-color:#242424;margin-top:-5%;padding:20px 0 0}.foot-cta-btn{background:#efefef!important}.ctp-hero{background-color:#b7d400;background-size:cover}@media screen and (max-width:768px){.homepage-hero h3{font-size:18px;line-height:28px;font-family:Roboto,sans-serif!important}}@media screen and (max-width:1024px){.homepage-hero{height:500px}}@media only screen and (max-width:40em){.homepage-hero .floatingphone img{width:100%;position:relative;right:0;bottom:0;top:0;left:120px}}@media (max-width:900px){.homepage-hero .row{margin:45px 0 0 30px}}body>ng-include>ion-nav-view>div>ion-pane>header{background-color:transparent!important;border:0 solid #000!important}#strip{background-color:#000;margin:-5% 0 0;background-size:cover;padding:10%;font-family:Raleway!important;font-weight:300!important;text-align:center;font-size:27%!important}#strip h1{margin-top:-5%;color:#f8821e!important;text-align:auto}#strip p{text-align:center;color:#000}.aside_boxes h1{font-size:1.8em;font-weight:300!important}.aside_boxes p{font-size:1em}#page-home{background-color:#fff!important;margin:-80px 0 0;padding:40px 0 0;background-size:cover;min-height:85%}#page-home .row{padding:10px 0 20px}#page-home .inner_page-home{width:100%;height:90%;text-align:center}#page-home h1{font-size:4em!important;margin:0 auto;color:#fff;font-weight:300;letter-spacing:-2px;line-height:110%;font-family:Raleway,sans-serif!important;padding:10% 0 0;text-align:auto}#page-home h4{font-size:1.35em;color:#fff;font-weight:300}#page-home h3{color:#fff;text-align:left;font-family:Roboto,serif!important;font-size:1.4rem}#page-home .floatingphone img{max-width:30%;position:absolute;right:100px;top:30px}#page-home .floatingctp img{position:absolute;top:50px;margin-top:4%;padding-left:20%;max-width:85%;right:0;overflow:hidden}#boxes-home{background-color:#efefef;padding-bottom:40px}#boxes-home .boxyfoxy span{font-weight:900}#main-content h2{padding-top:0;margin:20px 0;text-align:center;margin-top:-50px!important}#main-content h3{padding-top:80px;margin:50px 0 20px;text-align:center}#main-content h6{height:20px;text-align:center;margin-bottom:60px}#main-content .centered-text a{margin:20px 0}.slider-pager{margin-top:40px!important}.mobile-heros h1{font-size:2.6em!important;margin:40px 0 0;color:#202b39!important;font-weight:700;letter-spacing:-2px;line-height:100%;font-family:Raleway,sans-serif!important;padding:10% 0 0;text-align:center}.mobile-heros h2{padding:30px 20px 0 25px!important;font-size:2em;text-align:center}.mobile-heros h3{text-align:center}.mobile-heros li{font-size:14px!important;line-height:22px}.mobile-heros p{font-size:16px!important;font-family:Roboto!important;font-weight:300!important;padding:30px;line-height:24px}#page-how img .dot{text-align:center!important}#page-about{margin-top:-80px;height:60%;background:0 0/cover #b6d600}#page-about h1{font-size:4em;color:#fff;font-weight:700;margin-bottom:0;text-align:center;letter-spacing:-3px;font-family:Raleway,sans-serif!important;text-shadow:0 1px #000;padding:10% 0}#mast-about h3{margin-top:5%;padding:5%}#mast-about p{padding:20px 50px 0;font-size:16px!important;font-family:Roboto!important;font-weight:300!important;line-height:24px}#mast-about hr{margin:60px 0 20px}#page-about-mobile{margin-top:0;background:#efefef;text-align:center}#page-about-mobile h1{padding-top:50px;text-align:center}#mast-about-mobile{background:#efefef;text-align:left;padding:0 30px}#bios h5{margin:0 0 10px;padding:0 0 10px;height:10px;font-size:1.3em}#bios p{font-size:16px!important;font-family:Roboto!important;font-weight:300!important;padding:10px;line-height:24px}#bios h3{margin-top:0;padding:5%;text-align:center!important}#bios .clear{padding:120px 0 40px;float:clear}#page-contact{background-color:#074e68}#page-contact p{color:#074e68}#form-contact{margin:20px 0 0;text-align:center;padding:20px 0 0 12px}#form-contact .large-12{padding:0 25%}#form-contact label{text-align:left!important}#form-contact .mobile h2,#form-contact .mobile p{color:#fff!important}#form-contact .mobile label{color:#fff!important;text-align:left!important}#page-press{margin-top:-80px;height:40%;background:0 0/cover #44acd3}#page-press h1{font-size:4em;color:#fff;font-weight:700;margin-bottom:0;text-align:center;letter-spacing:-3px;font-family:Raleway,sans-serif!important;text-shadow:0 1px #000}#page-platform-mobile .slider-slide{padding-top:40px;text-align:center}#page-platform-mobile h2{padding:50px 0 0 20px;width:100%}#page-platform-mobile .shim{margin-top:-30px}#page-platform-mobile p{padding:20px}#page-platform-mobile a{color:#000!important}#errorMessage{color:red;font-weight:600}label{display:block}input{border:1px solid #777;font-size:20px;line-height:24px}button{border:1px solid #777;color:#333;font-size:16px}

/* TODO: This is gross - including all of foundation here inheriting from the real live one in the app.sass in the angualr project; */

/* END TODO: Get rid of this duplicate menu code once you merge the sandbox project into the angular project */

a {
	font-family: arial, helvetica !important;
	font-weight: lighter !important;
	font-size:17.5px;
}
button {
		font-family: arial, helvetica !important;
	font-weight: lighter !important;
	font-size:17.5px !important;
}
@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome/fontawesome.eot?-v92fkb');
	src:url('../fonts/fontawesome/fontawesome.eot?#iefix-v92fkb') format('embedded-opentype'),
		url('../fonts/fontawesome/fontawesome.woff?-v92fkb') format('woff'),
		url('../fonts/fontawesome/fontawesome.ttf?-v92fkb') format('truetype'),
		url('../fonts/fontawesome/fontawesome.svg?-v92fkb#fontawesome') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Blokk';
	src: url('../fonts/blokk/BLOKKRegular.eot');
	src: url('../fonts/blokk/BLOKKRegular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/blokk/BLOKKRegular.woff') format('woff'),
		 url('../fonts/blokk/BLOKKRegular.svg#BLOKKRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	position: relative;
}

h2 {
	color:#000;
	font-family: 'Arial';
	text-align: left;
}


.noscroll {
	overflow: hidden;
}

.grid-wrap {
	margin: 10px auto 0;
	max-width: 1090px;
	width: 100%;
	padding: 0;
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.grid {
	position: relative;
	-webkit-transition: all 0.5s cubic-bezier(0,0,0.25,1);
	transition: all 0.5s cubic-bezier(0,0,0.25,1);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.view-full .grid {
	-webkit-transform: translateZ(-1500px);
	transform: translateZ(-1500px);
}

.grid figure,
.grid .placeholder {
	width: 340px;
	height: 300px;
}

.grid figure {
	margin: 10px;
	display: inline-block;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.grid figure.active {
	opacity: 0;
}

.grid .placeholder {
	pointer-events: none;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.placeholder > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.placeholder .front img {
	width: 100%;
	height: 100%;
}

.placeholder .back {
	background: white;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.view-full .placeholder {
	-webkit-transition: all 0.5s 0.1s cubic-bezier(0,0,0.25,1);
	transition: all 0.5s 0.1s cubic-bezier(0,0,0.25,1);
}

.vertical .view-full .placeholder {
	-webkit-transform: translateZ(1500px) rotateX(-179.9deg);
	transform: translateZ(1500px) rotateX(-179.9deg); /* FF, Chrome, can we agree on one direction, pleeease? */
}

.horizontal .view-full .placeholder {
	-webkit-transform: translateZ(1500px) rotateY(-179.9deg);
	transform: translateZ(1500px) rotateY(-179.9deg);
}

.grid figure img {
	display: block;
	width: 100%;
}

.content,
.loading {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none; /* Careful, does not work in IE < 11 http://caniuse.com/#search=pointer-events */
}

.content {
	overflow-y: scroll;
	height: 0; /* What seems to be the problem, officer? Well, we have a second scroll bar in Chrome! */
	background: #fff;
	visibility: hidden;
	z-index: 400;
	-webkit-overflow-scrolling: touch;
}

.loading {
	opacity: 0;
	z-index: 1;
	background: transparent url(../img/preloader.gif) no-repeat center center;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}

.loading.show {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.content.show {
	height: auto;
	pointer-events: auto;
	visibility: visible;
}

.content > div {
	z-index: 10;
	position: absolute;
	top: 0;
	width: 100%;
	overflow: hidden;
	height: 0;
	opacity: 0;
	background: #fff;
}

.content > div.show {
	height: auto;
	opacity: 1;	
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.icon:before {
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.close-content {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 10px;
	font-size: 1.6em;
	color: #aaa;
	cursor: pointer;
	pointer-events: none;
	padding: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.close-content:hover {
	color: #999;
}

.content > div.show ~ .close-content {
	opacity: 1;
	pointer-events: auto;
}

.close-content:before {
	content: "\e602";
}

/* Dummy content */

.dummy-img,
.dummy-text {
	max-width: 800px;
	width: 90%;
	color:#000;
}

.heading {
	width:90%;
	max-width: 800px;
	margin: 0 auto;
	padding-top:60px;
}

.vertical .dummy-img,
.vertical .dummy-text {
	-webkit-transform: translateY(100px);
	transform: translateY(100px);
}

.horizontal .dummy-img,
.horizontal .dummy-text {
	-webkit-transform: translateX(-100px);
	transform: translateX(-100px);
}

.content > div.show .dummy-img,
.content > div.show .dummy-text {
	opacity: 1;
}

.vertical .content > div.show .dummy-img,
.vertical .content > div.show .dummy-text {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.horizontal .content > div.show .dummy-img,
.horizontal .content > div.show .dummy-text {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

p.dummy-text:nth-child(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

p.dummy-text:nth-child(3) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.dummy-img {
	height: 400px;
	background-color: #ddd;
	margin: 30px auto;
}

.dummy-text {
	text-align: left;
	margin: 0 auto;
	padding: 10px 0;
	color: #000;
	font-size: .6em;
	font-family: Arial, serif;
}

.dummy-text:last-child {
	padding-bottom: 100px;
}

/* Simple fallback */
/* if any of these are not supported, a simple fallback will be shown */
.no-pointerevents .content,
.no-csstransforms3d .content,
.no-csstransitions .content,
.no-pointerevents .content > div,
.no-csstransforms3d .content > div,
.no-csstransitions .content > div,
.no-pointerevents .close-content,
.no-csstransforms3d .close-content,
.no-csstransitions .close-content {
	opacity: 1;
	visibility: visible;
	display: none;
	height: auto;
}

.no-pointerevents .show .close-content,
.no-csstransforms3d .show .close-content,
.no-csstransition .show .close-content,
.no-pointerevents div.show,
.no-csstransforms3d div.show,
.no-csstransitions div.show,
.no-csstransitions .dummy-img,
.no-csstransitions .dummy-text,
.no-csstransforms3d .dummy-img,
.no-csstransforms3d .dummy-text, 
.no-pointerevents .dummy-img,
.no-pointerevents .dummy-text {
	display: block !important;
	opacity: 1;
}

@media screen and (max-width: 1000px) {

	.grid figure,
	.grid .placeholder {
		width: 240px;
		height: 212px;
	}

}